body {	/*the outer layer of the site and global style attributes*/
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
background: #f7f5f2;
}

/* Utility Stylesheets */

a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
width: 100%;
}

.img-scaled-wh {
width: 100%;
height: 100%;
}

.img-scaled-h {
height: 100%;
}

#cover-background {
    width: 100%;
    height: 500px;
}
#cover {
    position: relative;
}
#cover-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    top: 0px;
    position: absolute;
}
#cover-nav {
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    color: white;
    padding: 20px 0px;
}
#cover-content {
    position: absolute;
    top: 50%;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: -40px;
}
#cover-title {
    font-size: 36px;
    font-weight: 300;
}
#cover-subtitle {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
}

#cover-nav-content {
    width: 960px;
    margin: 0px auto;
}
#cover-nav-title {
    float: left;
    font-weight: 700;
}
.cover-nav-item {
    float: right;
    font-size: 13px;
    margin-left: 30px;
}
.slide {
    padding: 60px 0px;
}
.container {
    width: 720px;
    margin: 0px auto;
    text-align: center;
    color: white;
}
#reach {
    background: #1abc9c;
}
#discover {
    background: #3498db;
}
#engage {
    background: #de6868;
}
.slide-thumbnail {
    width: 240px;
    height: 240px;
    margin: 0px auto;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(255, 255, 255, 0.5);
}
.slide-title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 300;
}
.slide-description {
    font-size: 13px;
    line-height: 24px;
    margin-top: 20px;
}
#footer {
    font-size: 12px;
    font-weight: 700;
    color: white;
    background: #2f353f;
    text-align: center;
    padding: 10px 0px;
}